body{
  background-color: #1d2d3c;
}


/****************************
            HEADER 
 ***************************/
header{
  background-color: #06131f;
  height: 90px;
}

.logo{
  height: 100%;
}

.logo img{
  margin: 0px 20px;
  width: 150px;
  height: 100%;
  object-fit: contain;
}


/****************************
            MAIN 
 ***************************/
.card{
  background-color: #112030;
}

.card-img-top{
  width: 250px;
  height: 250px;
}
/****************************
            MAIN 
 ***************************/